body{background-color:#8276e4}

	
.buttonBackground
{
	border: 2px solid #000000;
	background: #80ff80;
}
.buttonBackground2
{
	border: 2px solid #000000;
	background: #ff7f50;
	text-align: center;
}

/*this just gets rid of the ugly blue highlight you get when clicking*/
.noselect 
{
	user-select: none;
}
